In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.concat([pd.read_csv("./datasets/d1.csv"), pd.read_csv("./datasets/d2.csv"), pd.read_csv("./datasets/d3.csv"), pd.read_csv("./datasets/d4.csv")])
print(df.shape)
df.head()

(1330246, 19)

,body_type,latitude,longitude,daysonmarket,engine_displacement,frame_damaged,fuel_type,has_accidents,horsepower,listing_color,major_options,make_name,mileage,model_name,owner_count,price,transmission,wheel_system,year
0,Coupe,18.3467,-66.1098,1252,1700.0,False,Gasoline,False,237.0,RED,['Leather Seats'],Alfa Romeo,301.0,4C,2.0,97579.0,A,RWD,2015
1,Sedan,18.3467,-66.1098,1233,3000.0,False,Gasoline,False,320.0,SILVER,"['Sunroof/Moonroof', 'Alloy Wheels', 'Bluetooth']",BMW,6903.0,3 Series,2.0,58995.0,A,AWD,2016
2,Sedan,40.7333,-73.2587,33,1600.0,False,Gasoline,False,201.0,BLACK,"['Sport Package', 'Sunroof/Moonroof', 'Adaptiv...",Hyundai,30707.0,Elantra,1.0,13324.0,A,FWD,2017
3,Sedan,40.7333,-73.2587,55,1500.0,False,Gasoline,False,160.0,SILVER,"['Driver Confidence Package', 'Power Package',...",Chevrolet,42394.0,Malibu,1.0,14639.0,A,FWD,2018
4,Coupe,40.8847,-73.8317,36,3500.0,False,Gasoline,False,311.0,BLACK,"['Leather Seats', 'Sunroof/Moonroof', 'Navigat...",Lexus,62251.0,RC 350,1.0,32000.0,A,AWD,2018

In [4]:
df['body_type'].unique()

array(['Coupe', 'Sedan', 'SUV / Crossover', 'Pickup Truck', 'Wagon',
       'Minivan', 'Hatchback', 'Van', 'Convertible'], dtype=object)

In [5]:
df['major_options'].unique()

array(["['Leather Seats']",
       "['Sunroof/Moonroof', 'Alloy Wheels', 'Bluetooth']",
       "['Sport Package', 'Sunroof/Moonroof', 'Adaptive Cruise Control', 'Audio Package', 'Bluetooth', 'Premium Wheels', 'Backup Camera', 'Blind Spot Monitoring', 'Heat Package', 'Premium Package', 'Heated Seats', 'CarPlay']",
       ...,
       "['Leather Seats', 'Navigation System', 'Premium Wheels', 'Heat Package', 'Parking Sensors', 'Heated Seats', 'Tow Package', 'Android Auto', 'Quick Order Package', 'CarPlay', 'Bluetooth', 'Backup Camera', 'Remote Start']",
       "['Leather Seats', 'Navigation System', 'Adaptive Cruise Control', 'Alloy Wheels', 'Adaptive Suspension', 'Parking Sensors', 'Premium Package', 'Trim Package', 'Heated Seats', 'Multi Zone Climate Control', 'SE Package', 'Bluetooth', 'Backup Camera', 'Remote Start', 'Convenience Package']",
       "['Popular Equipment Package', 'SE Package', 'Alloy Wheels', 'Bluetooth', 'Backup Camera', 'CarPlay']"],
      dtype=object)

In [6]:
df['make_name'].unique()

array(['Alfa Romeo', 'BMW', 'Hyundai', 'Chevrolet', 'Lexus', 'Jeep',
       'Cadillac', 'Chrysler', 'Dodge', 'Mercedes-Benz', 'Nissan',
       'Honda', 'Kia', 'Ford', 'Lincoln', 'Subaru', 'Audi', 'Volkswagen',
       'Land Rover', 'Porsche', 'Jaguar', 'Mazda', 'Toyota', 'GMC',
       'Acura', 'INFINITI', 'Maserati', 'RAM', 'FIAT', 'Volvo',
       'Mitsubishi', 'Buick', 'Mercury', 'Saab', 'MINI', 'Ferrari',
       'Genesis', 'Saturn', 'Bentley', 'Suzuki', 'Fisker', 'Pontiac',
       'Lamborghini', 'smart', 'Scion', 'Hummer', 'Rolls-Royce', 'Lotus',
       'McLaren', 'Aston Martin', 'Isuzu', 'Oldsmobile', 'Plymouth',
       'Karma', 'Geo', 'Maybach', 'SRT', 'Datsun', 'AM General', 'Daewoo'],
      dtype=object)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1330246 entries, 0 to 330245
Data columns (total 19 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   body_type            1330246 non-null  object
 1   latitude             1330246 non-null  float64
 2   longitude            1330246 non-null  float64
 3   daysonmarket         1330246 non-null  int64
 4   engine_displacement  1330246 non-null  float64
 5   frame_damaged        1330246 non-null  bool
 6   fuel_type            1330246 non-null  object
 7   has_accidents        1330246 non-null  bool
 8   horsepower           1330246 non-null  float64
 9   listing_color        1330246 non-null  object
 10  major_options        1330246 non-null  object
 11  make_name            1330246 non-null  object
 12  mileage              1330246 non-null  float64
 13  model_name           1330246 non-null  object
 14  owner_count          1330246 non-null  float64
 15  price                1330246 non-null  float64
 16  transmission         1330246 non-null  object
 17  wheel_system         1330246 non-null  object
 18  year                 1330246 non-null  int64
dtypes: bool(2), float64(7), int64(2), object(8)
memory usage: 185.2+ MB

Checking percentage of missing values

In [8]:
df.isnull().sum() / df.shape[0] * 100

body_type              0.0
latitude               0.0
longitude              0.0
daysonmarket           0.0
engine_displacement    0.0
frame_damaged          0.0
fuel_type              0.0
has_accidents          0.0
horsepower             0.0
listing_color          0.0
major_options          0.0
make_name              0.0
mileage                0.0
model_name             0.0
owner_count            0.0
price                  0.0
transmission           0.0
wheel_system           0.0
year                   0.0
dtype: float64

In [ ]:
sns.displot(df, x="")